fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic[email]
pytest
httpx
pytesseract
pdf2image
python-multipart
Pillow
faiss-cpu
sentence-transformers
langchain
langchain-text-splitters
langchain-openai
langgraph
streamlit
pypdf